// Schrift
$font-button: "Inter";
$font-weight-heading: 600;
$font-weight-subheading: 500;
$font-weight-maintext: 400;


// ---- Farben ----------------------------------

$color-primary: #ee750d;
$color-primary-dark: #ca6711;
$color-white: #fff;
$color-black: #000;
$color-darkgrey: #434040;
$color-lightgrey: #D9D9D9;
$color-extralightgrey: #efefef;
$color-boxshadow: #d3d3d3;

$color-maintext: #393434;
$color-subtext: #605858;

$color-sports: #49c974;
$color-course: #a174d5;
$color-academic: #ea5c5c;
$color-information: #5192de;
$color-alumni: #ee750d;
$color-social: #e873a5;


// ---- Farben darkmode -------------------------

$darkmode-primary: #C95523;
$darkmode-primary-dark: #AA4C24;
$darkmode-darkgrey: #342D2D;
$darkmode-boxshadow: black;

$darkmode-sports: #53ae71;
$darkmode-course: #9171b5;
$darkmode-academic: #d05f5f;
$darkmode-information: #5585bd;
$darkmode-alumni: #C95523;
$darkmode-social: #cf7ca0;